---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

### Quality-assured publications

- De Leo, A., Brizzolara, S., Cavaiola, M., He, J., & Stocchino, A. (2025).  
  **Rigid fibre transport in a periodic non-homogeneous geophysical turbulent flow.**  
  *Journal of Fluid Mechanics*.  
  [https://doi.org/10.1017/jfm.2025.362](https://doi.org/10.1017/jfm.2025.362)

- Parrella, F., Brizzolara, S., Holzner, M., & Mitrano, D. (2025).  
  **Microplastics Settling in Turbid Water: Impacts of Sediments-Induced Flow Patterns on Particle Deposition Rates.**  
  *Environmental Science & Technology*.  
  [https://doi.org/10.1021/acs.est.4c10551](https://doi.org/10.1021/acs.est.4c10551)

- Neamtu-Halic, M. M., Brizzolara, S., Haller, G., & Holzner, M. (2025).  
  **Unsupervised Extraction of Rotational Lagrangian Coherent Structures.**  
  *Computers & Fluids*.  
  [https://doi.org/10.1016/j.compfluid.2025.106558](https://doi.org/10.1016/j.compfluid.2025.106558)

- Naudascher, R., Brizzolara, S., Slomka, J., Boes, R. M., Holzner, M., Silva, L. G., & Stocker, R. (2025).  
  **Salmonids exhibit an acute behavioral response to heterothermal environments.**  
  *eLife*.  
  [https://doi.org/10.1101/2024.05.03.592389](https://doi.org/10.1101/2024.05.03.592389)

- Parrella, F., Brizzolara, S., Holzner, M., & Mitrano, D. (2024).  
  **Impact of heteroaggregation between microplastics and algae on particle vertical transport.**  
  *Nature Water*.  
  [https://doi.org/10.1038/s44221-024-00248-z](https://doi.org/10.1038/s44221-024-00248-z)

- Brizzolara, S., Naudascher, R., Rosti, M. E., Stocker, R., Boffetta, G., Mazzino, A., & Holzner, M. (2024).  
  **Immiscible Rayleigh-Taylor turbulence: implications for bacterial degradation in oil spills.**  
  *Proceedings of the National Academy of Science*.  
  [https://doi.org/10.1073/pnas.2311798121](https://doi.org/10.1073/pnas.2311798121)

- Shnapp, R., Brizzolara, S., Neamtu-Halic, M. M., Gambino, A., & Holzner, M. (2023).  
  **Universal alignment in turbulent pair dispersion.**  
  *Nature Communications*.  
  [https://doi.org/10.1038/s41467-023-39903-6](https://doi.org/10.1038/s41467-023-39903-6)

- Brizzolara, S., Mollicone, J. P., van Reeuwijk, M., & Holzner, M. (2023).  
  **Entrainment at multi-scales in shear-dominated and Rayleigh-Taylor turbulence.**  
  *European Journal of Mechanics-B/Fluids*.  
  [https://doi.org/10.1016/j.euromechflu.2023.06.005](https://doi.org/10.1016/j.euromechflu.2023.06.005)

- Brizzolara, S., Mollicone, J. P., van Reeuwijk, M., Mazzino, A., & Holzner, M. (2021).  
  **Transition from shear-dominated to Rayleigh–Taylor turbulence.**  
  *Journal of Fluid Mechanics*.  
  [https://doi.org/10.1017/jfm.2021.564](https://doi.org/10.1017/jfm.2021.564)

- Brizzolara, S., Rosti, M. E., Olivieri, S., Brandt, L., Holzner, M., & Mazzino, A. (2021).  
  **Fiber tracking velocimetry for two-point statistics of turbulence.**  
  *Physical Review X*, 11(3).  
  [https://doi.org/10.1103/PhysRevX.11.031060](https://doi.org/10.1103/PhysRevX.11.031060)


### Other publications

- Brizzolara, S. & Shnapp, R. (accepted for publication in the *Journal of Fluid Mechanics*, submitted in April 2026).  
  **Lagrangian Proper Orthogonal Decomposition.**  
  [https://arxiv.org/pdf/2604.22011](https://arxiv.org/pdf/2604.22011)

- Kastinger, M., Brizzolara, S., Redaelli, T., & Holzner, M. (accepted for publication in the *Journal of Plankton Research*, submitted in May 2026).  
  **Hop-and-sink locomotion and escape in benthic copepods under localized suction flow.**

- Gambino, A., Brizzolara, S., Neamtu Halic, M. M., Shnapp, R., Mazzino, A., & Holzner, M. (submitted to *Journal of Fluid Mechanics*, June 2026).  
  **Alignments of long fibers in turbulence: a comparison between experiments and Slender Body Theory.**

- Hilliard, B., Zeugin, T., Brizzolara, S., Neamtu Halic, & Holzner, M. (submitted to *Journal of Fluids and Structures*, June 2026).  
  **Frequency-dependent deformation modes of a flexible pipe conveying pulsatile flow.**  
  [http://dx.doi.org/10.2139/ssrn.7076380](http://dx.doi.org/10.2139/ssrn.7076380)

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



